
.tag-list {
  margin: 0;
  padding: 0;
  line-height: 1.5rem;

  &__item {
    display: inline-block;
    padding-right: 4px;
  }

  &__item-link {
    display: inline-block;
    background-color: var(--btn-bg);

    &:hover {
      text-decoration: none;
    }
  }

  &__item-count {
    color: var(--font-color-subtle);
  }
}

.sidebar {
  &__section-title {
    &:before {
      font-weight: 800 !important;
      padding-right: 5px;
    }
  }
}
